* {
    padding: 0;
    margin: 0;
}
.top-screen {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
}
.top-screen div {
    display: flex;
}
.opening {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}
.opening > * {
    margin-top: 1%;
}

.opening h1 {
    text-align: center;
}
.opening h2 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.opening p {
    font-size: large;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.opening button{
    font-size: 100%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 1vw;
    background: purple;
    color: white;
    border: solid;
    border-radius: 15px;
}
.opening button:hover {
    background: mediumorchid;
}
form {
    display: flex;
    justify-content: center;
}
form input {
    margin-left: 25%;
    margin-right:25%;
}